.coreprinciples {
  padding: 4rem 0;
}

.coreprinciples > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.coreprinciples .icon-wrapper {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coreprinciples .icon-wrapper svg {
  width: 100%;
  height: 100%;
  fill: rgb(196 163 98);
}

.coreprinciples h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.coreprinciples [data-richtext-prop="description"] {
  line-height: 1.5;
  color: rgb(75 85 99);
}

@media (width <= 768px) {
  .coreprinciples {
    padding: 2rem 0;
  }
} 