.projectslistitem {
    padding-top: 25px;
    padding-bottom: 70px;
    border-top: 2px solid black;
}

.project-title,
.project-subtitle {
    color: black;
}
.project-title  {
    font-size: 25px;
}
.project-longDescription,
.project-shortDescription  {
    font-size: 14px;
}

.project-longDescription  {
    margin-top: 12px;
    margin-bottom: 30px;
}

@media (width <= 769px) {
    .projectslistitem {
        padding-top: 15px;
        padding-bottom: 30px;
    }
}

@media (width <= 426px) {
    .projectslistitem {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .project-image {
        padding-top: 15px;
        width: 100%;
    }
}